/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
    height: 100%;
    overflow: auto;
    background-color: #b6ff00;
}
html {
    height: 100%
}

code {
  color: #E01A76;
}



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bg-teaser {
    background: #1b6ec2;

    height: auto;
}
